<mat-card class="w-60 h-96 !flex flex-col justify-between relative">
  <div
    class="absolute flex items-center justify-center bg-gray-400 bg-opacity-50 top-0 left-0 w-full h-full"
    *ngIf="product.sold"
  >
    <span class="text-3xl text-red-500 font-bold"> Sold </span>
  </div>
  <mat-card-header>
    <mat-card-title class="h-14"> {{ product.title }} </mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    class="!m-0 cursor-pointer max-h-48"
    [src]="product.image"
    (click)="showImage()"
  />
  <mat-card-content class="pt-2">
    <div>
      Beginning price:
      <span class="font-semibold">{{ product.beginningPrice | currency }}</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex">
      <div class="flex px-1 pb-1 justify-end">
        <div
          class="flex flex-1 justify-start items-center"
          *ngIf="highestBid && highestBid.user"
        >
          <img
            [matTooltip]="highestBid.user.displayName"
            [src]="
              highestBid.user.photoURL
                ? highestBid.user.photoURL
                : '/assets/images/no-profile.jpg'
            "
            class="ml-2 border w-7 h-7 border-gray-100 rounded-full inline-block"
            [alt]="highestBid.user.displayName"
          />
          <span class="font-semibold ml-2">{{
            highestBid.amount | currency
          }}</span>
        </div>
      </div>
      <div class="flex justify-end flex-1">
        <button mat-raised-button color="primary" (click)="showBidDialog()">
          Add Bid
        </button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>

<ng-template #imageFull>
  <div mat-dialog-content>
    <img [src]="product.image" />
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Close</button>
  </div>
</ng-template>
