<div mat-dialog-content>
  <div class="flex flex-col md:flex-row">
    <div class="flex-1 md:pr-5">
      <div class="pb-3 font-bold">Bids:</div>
      <div *ngIf="!product.bids || product.bids.length === 0">
        No bid has submitted yet
      </div>
      <div class="overflow-y-auto pr-1 max-h-72">
        <div
          class="flex p-1 items-center justify-between"
          *ngFor="
            let bid of product.bids | sort: 'desc':'amount';
            let index = index
          "
          [ngClass]="{ 'bg-green-100 rounded-md': index === 0 }"
        >
          <div class="flex items-center">
            <img
              [matTooltip]="bid.user.displayName"
              [src]="
                bid.user.photoURL
                  ? bid.user.photoURL
                  : '/assets/images/no-profile.jpg'
              "
              class="ml-2 border w-7 h-7 border-gray-100 rounded-full inline-block"
              [alt]="bid.user.displayName"
            />
            <span class="whitespace-nowrap mx-2">{{
              bid.user.displayName
            }}</span>
          </div>
          <span class="font-semibold ml-2">{{ bid.amount | currency }}</span>
        </div>
      </div>
    </div>
    <div class="flex-1">
      <form id="bidForm" [formGroup]="form" (ngSubmit)="addBid()">
        <div class="flex justify-between pb-4">
          <span class="font-bold"> beginning amount:</span>
          <span>{{ product.beginningPrice | currency }}</span>
        </div>
        <div class="flex justify-between pb-4">
          <span class="font-bold">Min Bid Increase:</span>
          <span>{{ product.minBidIncrease | currency }}</span>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Bid Amount</mat-label>
          <input
            formControlName="amount"
            type="number"
            matInput
            placeholder="your Bid Amount"
          />
        </mat-form-field>
      </form>
    </div>
  </div>
</div>
<div mat-dialog-actions class="justify-end">
  <button mat-raised-button (click)="closeDialog()">Cancel</button>
  <button
    mat-raised-button
    form="bidForm"
    type="submit"
    color="primary"
    *ngIf="user"
    [disabled]="form.invalid"
  >
    Add
  </button>
  <button mat-raised-button *ngIf="!user" (click)="login()" color="primary">
    Login
  </button>
</div>
